@import "../../styles";

.loading {
  color: #ffffff;
  font-size: 2.4rem;
  font-family: Poppins, sans-serif;
}

.todo-wrap {
  width: 80vw;
  height: 100vh;
  color: #ffffff;
  background: #171717;
  @include flex(row, center, center)
}

.todo {
  @include flex(column, center, center);
  padding: 0 15px;
  height: 300px;
  background: rgba(62, 62, 62, 0.5);
  border-radius: 15px;

  span, h2 {
    font-size: 2.4rem;
    font-family: Staatliches, sans-serif;
    text-align: center;
  }
}

button {
  padding: 5px 15px;
  font-size: 2.4rem;
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
