@import "../../styles";

.todo {
  width: 80%;
  margin: 0 auto 15px;
  padding: 5px 15px;
  color: #ffffff;
  @include flex(row, flex-start, flex-start);
  position: relative;

  span {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    font-weight: 300;
  }

  sub {
    align-self: flex-end;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: #000;
    position: absolute;
    bottom: -5%;
    right: 0;
    transform: translateX(25%);
  }
}

.todo-checkbox {
  display: none;

  & + label {
    color: #f2f2f2;
    transform: translateY(40%);
  }

  & + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
  }

  &:checked + label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
  }
}

.todo:after {
  content: '';
  width: 90%;
  height: 2px;
  background: #bcbcbc;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

